
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  
    /* background-image: url('../public/images/photo-1503676260728-1c00da094a0b.avif');
    background-repeat: no-repeat;
    background-size: 50% 50%;
   */
 
}

/* body{
  background-image: url('../public/images/Best\ Free\ Kids\ App.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
} */

.nav-ul li a{
  color:#f1356d; 
  text-decoration: none;
  padding: 3px;
} 



.navbar h1 {
  color: #f1356d;
}
.navbar .links{
  margin-left:auto ;
  color:white;
}


.navbar a {
  margin-left: 5px;
  text-decoration: none;
  padding: 3px;
}
.navbar a :hover{
  color:#f1356d
}
/* .content{
  max-width: 600px;
  margin:40px auto; 
  padding: 30px;
} */
body {
  background-image: url('../public/images/istockphoto-1144287280-612x612.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
